<div class="container col-md-12">

    <h2 class='mb-3'>Laborantin Liste</h2>
    <!-- Card -->
    <div class="row">
        <div class="card testimonial-card col-md-4">
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>

            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-2.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Chaimaa Ess-bbah</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>
        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://previews.123rf.com/images/olegdudko/olegdudko1507/olegdudko150712621/42626220-m%C3%A9decin-infirmi%C3%A8re-doctoresse-.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Fouzia Balibla</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>

        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJbDgBXbKyxZscXWXxG77gxfeYQ6RQ0x_vHUIdJsw_d0oB6Wbb&usqp=CAU"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Meriem Balibla</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://thememakker.com/templates/swift/hospital/assets/images/random-avatar7.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Ilyass Boughaz</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>

        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-3.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Hachim Arroui</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>

        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-1.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Rahma Omara</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-2.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Chaimaa Ess-bbah</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>

        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up indigo lighten-1">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>
            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://thememakker.com/templates/swift/hospital/assets/images/random-avatar7.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">Ilyass Boughaz</h5>
                <!-- Quotation -->
                <p><i class="fa fa-map-marker"></i> Nom De Bloc
                </p>
                <p style="font-weight: bold;">User Name
                </p>
            </div>
        </div>

        <div class="card testimonial-card col-md-4">
            <!-- Background color -->
            <div class="card-up">
                <!-- Dropdown Menu -->
                <div class="dropdown float-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item media p-2" href="#">Voir Détails</a>
                        <a class="dropdown-item media p-2" href="#">Moddifier</a>
                        <a class="dropdown-item media p-2" href="#">Supprimer</a>
                    </div>
                </div>

            </div>
            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-3.jpg"
                    class="rounded-circle" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <div>
                    <!-- Name -->
                    <h5 class="card-title">Hachim Arroui</h5>
                    <!-- Quotation -->
                    <p><i class="fa fa-map-marker"></i> Nom De Bloc
                    </p>
                    <p style="font-weight: bold;">User Name
                    </p>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>