<!-- Grid row -->
<div class="row Cards">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mx-auto">

        <!--Panel-->
        <div class="card indigo text-center z-depth-2">
            <div class="card-body">
                <h3 class="text-uppercase font-weight-bold text-trans amber-text mt-2 mb-3"><strong>Doctors</strong>
                </h3>
                <p class="white-text mb-0"> 34567 </p>
                <img class="icons" src="assets/img/doctor-svg.svg" alt="">
                <div class="content-icons">
                </div>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <div class="col-lg-3 col-md-4">

        <!--Panel-->
        <div class="card indigo text-center z-depth-2">
            <div class="card-body">
                <h3 class="text-uppercase font-weight-bold amber-text mt-2 mb-3"><strong>Secretaire</strong></h3>
                <p class="white-text mb-0"> 124 </p>
                <img class="icons" src="assets/img/secretary-svg.svg" alt="">
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-4">

        <!--Card Primary-->
        <div class="card indigo text-center z-depth-2">
            <div class="card-body">
                <h3 class="text-uppercase font-weight-bold text-trans amber-text mt-2 mb-3"><strong>Patients</strong>
                </h3>
                <p class="white-text mb-0"> 32768 </p>
                <img class="icons" src="assets/img/patient-svg.svg" alt="">
            </div>
        </div>
        <!--/.Card Primary-->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-4">

        <!--Panel-->
        <div class="card indigo text-center z-depth-2">
            <div class="card-body">
                <h3 class="text-uppercase font-weight-bold amber-text mt-2 mb-3"><strong>Laborantins</strong></h3>
                <p class="white-text mb-0"> 1275 </p>
                <img class="icons" src="assets/img/labo-svg.svg" alt="">
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->
    <div class="last-patient shadow p-3 mb-5 bg-white rounded">
        <div class="Title">
            <h4>Nouvelle Liste Des Patients</h4>
        </div>
        <hr>
        <div class="liste col-md-8 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">User-Name</th>
                        <th scope="col">La Maladie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chaimaa</td>
                        <td>Ess-bbah</td>
                        <td>@cess-bbah</td>
                        <td>Fièvre</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chaimaa</td>
                        <td>Ess-bbah</td>
                        <td>@cess-bbah</td>
                        <td>Fièvre</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chaimaa</td>
                        <td>Ess-bbah</td>
                        <td>@cess-bbah</td>
                        <td>Fièvre</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chaimaa</td>
                        <td>Ess-bbah</td>
                        <td>@cess-bbah</td>
                        <td>Fièvre</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chaimaa</td>
                        <td>Ess-bbah</td>
                        <td>@cess-bbah</td>
                        <td>Fièvre</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <!------------------- SATAFF LIST ------------------------->
        <div class="col-md-6">
            <!-- ITEMS SLIDE -->
            <div class="labo-staff shadow p-3 mb-5 bg-white rounded">
                <div class="Title">
                    <h4>Laboratoire Staff</h4>
                    <div class="controls-top">
                        <a class="btn-floating btn-info" href="#carousel-with-lb" data-slide="prev"><i
                                class="fa fa-arrow-left"></i></a>
                        <a class="btn-floating btn-info" href="#carousel-with-lb" data-slide="next"><i
                                class="fa fa-arrow-right"></i></a>
                    </div>
                    <!--/.Controls-->
                </div>
                <hr class="separe">
                <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
                    <!--Carousel Wrapper-->
                    <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">
                        <!--Controls-->
                        <!--Slides and lightbox-->

                        <div class="carousel-inner mdb-lightbox" role="listbox">
                            <!--First slide-->
                            <div class=" carousel-item active">
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-2.jpg"
                                            alt="Avatar" class="md-avatar rounded-circle Avatar ">

                                        <div class="staff-info">
                                            <h4 class="card-title">Chaimae</h4>
                                            <p class="card-text">Docteur</p>
                                        </div>
                                    </div>
                                </figure>
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="https://previews.123rf.com/images/olegdudko/olegdudko1507/olegdudko150712621/42626220-m%C3%A9decin-infirmi%C3%A8re-doctoresse-.jpg"
                                            alt="Avatar" class="md-avatar rounded-circle Avataro ">

                                        <div class="staff-info">
                                            <h4 class="card-title">Fouzia</h4>
                                            <p class="card-text">Laborantin</p>
                                        </div>
                                    </div>
                                </figure>
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJbDgBXbKyxZscXWXxG77gxfeYQ6RQ0x_vHUIdJsw_d0oB6Wbb&usqp=CAU"
                                            alt="Avatar" class="md-avatar rounded-circle Avataro">
                                        <div class="staff-info">
                                            <h4 class="card-title">Meriem</h4>
                                            <p class="card-text">Secretaire</p>

                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="https://thememakker.com/templates/swift/hospital/assets/images/random-avatar7.jpg"
                                            alt="Avatar" class="md-avatar rounded-circle Avatar">

                                        <div class="staff-info">
                                            <h4 class="card-title">Ilyass</h4>
                                            <p class="card-text">Docteur</p>

                                        </div>
                                    </div>
                                </figure>
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-3.jpg"
                                            alt="Avatar" class="md-avatar rounded-circle Avatar">

                                        <div class="staff-info">
                                            <h4 class="card-title">Hachim</h4>
                                            <p class="card-text">Docteur</p>

                                        </div>
                                    </div>
                                </figure>
                                <figure class="col-md-4 d-md-inline-block">
                                    <div class="Avatar">
                                        <img src="http://slidesigma.com/themes/html/mednalytics/assets/img/dashboard/doctor-1.jpg"
                                            alt="Avatar" class="md-avatar rounded-circle Avatar">

                                        <div class="staff-info">
                                            <h4 class="card-title">Rahma</h4>
                                            <p class="card-text">Laborantin</p>

                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <!--/.Second slide-->
                        </div>
                        <!--/.Slides-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!------------------- END SATAFF LIST ------------------------->

        <!------------------- CATEGORIES EXAMENS LIST ------------------------->
        <div class="col-md-6">
            <div class="Rpports-list shadow p-3 mb-5 bg-white rounded">
                <div class="Title">
                    <h4>Les dérnniers rapports Liste</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                    </li>
                </ul>
            </div>
        </div>
        <!------------------- END CATEGORIES EXAMENS LIST ------------------------->
    </div>
    <div class="row">
        <!------------------- VISITES DE LA VILLE PROGRESS ------------------------>

        <div class="col-md-6">
            <div class="Progress-list shadow p-3 mb-5 bg-white rounded">
                <div class="Title-Un">
                    <h5>Les Visites De La Ville</h5>
                </div>
                <hr>
                <div class="Progress-items">
                    <div class="progress-items md-progress d-flex justify-content-between align-items-center mb-2">
                        <h5>6458</h5>
                        <small>De CasaBlanca 80%</small>
                    </div>
                    <div class="progress md-progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-items d-flex justify-content-between align-items-center mb-2">
                        <h5>2458</h5>
                        <small>De Rabat 50%</small>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-items d-flex justify-content-between align-items-center mb-2">
                        <h5>1258</h5>
                        <small>De Marrakech 70%</small>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-items d-flex justify-content-between align-items-center mb-2">
                        <h5>1634</h5>
                        <small>De Fès 70%</small>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------- END VISITES DE LA VILLE PROGRESS ------------------------>

        <!-- ------------------- CATEGORIES EXAMENS LIST -------------------------  -->

        <!-- test -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6">

                <!-- Exaple 1 -->
                <div
                    class="Categories-list example-1 scrollbar-dusty-grass labo-staff shadow p-3 mb-5 bg-white rounded">
                    <div class="Title">
                        <h4>Les Catégories Liste</h4>
                    </div>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>

                </div>
                <!-- Exaple 1 -->

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- ------------------- END CATEGORIES EXAMENS LIST ------------------------- -->

    </div>