<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
  <!-- Sidebar toggle button-->
  <!-- Navbar Right Menu-->
  <!--Navbar -->
  <div class="app-header collapse navbar-collapse" id="navbarSupportedContent-555">
    <a class="app-header__logo" href="index.html">Youlab </a>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="https://www.universkin.com/assets/site/_ogImage/femme-find-your-doctor-white.jpg"
            class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" routerLink="Login">Déconnexion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->


<!-- User Menu-->