<div class="container col-12">

                        <!-- HEADER PARTIE -->

        <div class="about col-md-12 mx-auto">
            <div class="about col-md-6 mx-auto">
                <img src="assets/img/img2.jpg"></div>
                <div class="about1 col-md-6">
                    <h1>Qui somme nous</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, expedita.
                        Earum minus, quod blanditiis assumenda suscipit autem repudiandae dolor facere
                        optio atque praesentium corrupti dignissimos quis placeat commodi impedit
                        doloribus.</p>
                </div>
            </div>

                         <!-- QUI SOMME NOUS PARTIE-->

            <div class="info col-md-8 mx-auto">
                <h1>Qu'est-ce qui nous rend les meilleurs?</h1>
                <div class="infos row">
                <div class="col-md-4">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <img src="assets/img/money.svg" class="card-title">
                            <p class="card-text">NOUS SOMMES ABORDABLES</p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <img src="assets/img/clock.svg" class="card-title">
                            <p class="card-text">NOUS SOMMES RAPIDES</p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <img src="assets/img/certife.svg" class="card-title">
                            <p class="card-text">NOUS SOMMES CERTIFIÉS</p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <img src="assets/img/star.svg" class="card-title">
                            <p class="card-text">QUALITÉ</p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <img src="assets/img/user.svg" class="card-title">
                            <p class="card-text">COLLABORATION</p>  
                        </div>
                    </div>
                </div>
                </div>
            </div>

                            <!-- TYPE OF TETS PARTIE -->

            <div class="col-md-12">
                <div class="card flex-row flex-wrap">
                    <div class="card-header border-0">
                        <img src="//placehold.it/200" alt="">
                    </div>
                    <div class="card-block px-2">
                        <h4 class="card-title">Type de tests</h4>
                        <p class="card-text">Description</p>
                        <a href="#" class="btn btn-primary">BUTTON</a>
                    </div>
                    <div class="w-100"></div>
                    <div class="card-footer w-100 text-muted">
                        Footer stating cats are CUTE little animals
                    </div>
                </div>
            </div>

        </div>