<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar"
            src="https://www.universkin.com/assets/site/_ogImage/femme-find-your-doctor-white.jpg" alt="User Image">
        <div>
            <p class="app-sidebar__user-name">Chaimaa Ess-bbah</p>
            <p class="app-sidebar__user-designation">Admin</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span
                    class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview sidebar-dropdown">
            <a href="#" class="app-menu__item">
                <i class="app-menu__icon fa fa-stethoscope"></i>
                <span class="app-menu__label">Docteurs</span><i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a class="treeview-item" routerLink="/AddDoctor"><i class="icon fa fa-circle-o"></i>Ajouter un
                            docteur
                        </a>
                    </li>
                    <li>
                        <a class="treeview-item" routerLink="/ListDoctor"><i class="icon fa fa-circle-o"></i>Liste des
                            docteurs</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="treeview sidebar-dropdown">
            <a href="#" class="app-menu__item">
                <i class="app-menu__icon fa fa-user"></i>
                <span class=" app-menu__label">Secretaire</span><i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a class="treeview-item" routerLink="/AddSecretaires"><i class="icon fa fa-circle-o"></i>Ajouter
                            Secretaire
                        </a>
                    </li>
                    <li>
                        <a class="treeview-item" routerLink="/ListeSecretaire"><i class="icon fa fa-circle-o"></i>Liste
                            des Secretaires</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="treeview sidebar-dropdown">
            <a href="#" class="app-menu__item">
                <i class="app-menu__icon fa fa-user-plus"></i>
                <span class="app-menu__label">Patient</span><i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a class="treeview-item" routerLink="/AddPatient"><i class="icon fa fa-circle-o"></i>Ajouter un
                            Patient
                        </a>
                    </li>
                    <li>
                        <a class="treeview-item" routerLink="/ListPatient"><i class="icon fa fa-circle-o"></i>Liste des
                            Patients</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="treeview sidebar-dropdown">
            <a href="#" class="app-menu__item">
                <i class="app-menu__icon fa fa-flask"></i>
                <span class="app-menu__label">Laborantins</span><i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a class="treeview-item" routerLink="/AddLaborantin"><i class="icon fa fa-circle-o"></i>Ajouter
                            un
                            Laborantins
                        </a>
                    </li>
                    <li>
                        <a class="treeview-item" routerLink="/ListeLaborantin"><i class="icon fa fa-circle-o"></i>Liste
                            des
                            Laborantins</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</aside>