.navbar {
    background-color: #88cbff;
    position: relative;
  }
  
  .navbar-brand {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2rem;
    font-size: 14px;
  }
  
  .search1 {
    margin: 4rem;
    padding-left: 22rem;
  }
  
  .search {
    padding-left: 7rem;
    margin-left: 64%;
  }
  
  thead {
    background-color: lightgray;
    /* #88CBFF; */
  }
  
  tbody {
    text-align: center;
  }

  .card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 300;
    font-size: 18px;
    margin-left: 5rem;
    margin-top: -1.5rem;
    font-weight: bold;
}

p {
  margin-top: -7px;
  margin-bottom: 8px;
  margin-left: 5rem;
  color: #878793;
}

.rounded-circle {
  border-radius: 50%!important;
  margin-left: -11rem;
  width: 4rem;
  margin-bottom: -4rem;
}

.card {
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width: 21rem;
  height: 7rem;
  margin-top: 2rem;
}

.material-icons {
  position: absolute;
  margin-left: -1rem;
  margin-top: 1rem;
  font-size: 20px !important;
}

.dropdown-menu {
  position: absolute;
  will-change: top, left;
  top: -166px;
  left: -142px;
}
