<link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet" />

<!-- <app-login></app-login> -->
<!-- <app-nav></app-nav> -->

<!-- <app-content></app-content> -->
<!-- <app-listpatient></app-listpatient> -->
<!-- <app-addpatient></app-addpatient> -->
<!-- <app-nav></app-nav> -->



<section class="app sidebar-mini rtl">
    <!-- Navbar-->
    <app-nav></app-nav>
    <!-- Sidebar menu-->
    <app-sidebar></app-sidebar>
    <main class="app-content">
        <router-outlet></router-outlet>
    </main>
</section>



<!-- <main class="page-content">
    <div class="col-md-8 mx-auto">
    </div>
</main> -->
<!-- <app-sidebar></app-sidebar> -->